<h1> Hello this is show page </h1>


<%= form_for @product, url: {action: "create"}, html: {class: "group-form"} do |f| %>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="row">
                <%= f.label :product_name,class:' control-label' %>

                    <%= f.text_field :product_name ,class:'form-control' %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">

                <%= f.label :quantity,class:' control-label' %>

                    <%= f.text_field :quanitity, class:'form-control' %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">

                <%= f.label :price ,class:'control-label' %>

                    <%= f.text_field :price, class:'form-control' %>
            </div>
        </div>


    </div>

    <% end %>
        <div class="col-md-12">
            <div class="row">


                <!-- <%= link_to 'Edit' , edit_product_path(@product) %> -->
                    <%= link_to 'Back', products_path %>

            </div>


        </div>